{% extends "base.html" %}

{% block content %}

<main role="main">
    <h1 class="mt-5">Your Todo list</h1>
    <p class="lead">Start organizing your personal tasks now</p>

    <div class="panel panel-default">

        <div class="panel-body">
            <form method="POST">
                <div class="form-group">
                    <label for="id_item_text">Create an item to increase your todo list</label>
                    <input class="form-control" id="id_item_text" name="item_text" placeholder="Enter an item..."/>
                    {% csrf_token %}
                    <small class="form-text text-muted">Anything that you might forget</small>
                </div>
            </form>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-sm" id="id_list_table" width="100%">
            <thead>
            {% if items %}
            <tr>
                <th scope="col">#</th>
                <th scope="col">I have to ...</th>
            </tr>
            {% endif %}
            </thead>
            <tbody>
            {% for item in items %}
            <tr>
                <th scope="row" width="5%">{{ forloop.counter }}:</th>
                <td scope="row" width="95%">{{ item.text }}</td>
            </tr>
            {% empty %}
            <tr>
                <td class="text-center" colspan="2">No tasks assigned to you. Enjoy your day!</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}